<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">AI threat modeling & training"</h2>
                <hr class="light">
                <p class="text-faded">Threat modeling training for single companies and at regional events in the United States. Delivered by AI security pioneer Shoshana Cox.</p>
                <p class="text-faded">To discuss training events, please contact us at mailto:contact@bermudastrategies.io or book a no-obligation exploratory call</p>
                <a href="#" class="btn btn-default btn-xl">Book a call</a>
            </div>
        </div>
    </div>
</section>
