<style>
  .motherctasection {
    display: flex;
}
  .motherctasection > .firstborn {
    width: 48%;
    padding-top: 2rem;
    padding-right: 2rem;

  }
  .motherctasection > .secondborn {
    width: 48%;
    text-align: left;
  }
</style>
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">

                <div class="motherctasection">
                <div class="firstborn">
                    <img src="img/portfolio/ctaimg1.jpg" width="90%" height="100%">
                </div>
                <div class="secondborn">
                  <h2>NEW: The AI Threat Modeling Field Guide</h2>

                  <p>The definitive AI threat modeling field guide - from the leading global expert in AI threat modeling.</p>

                  <p>Mission-critical engineering. Validated by mathematical proof.</p>

                  <p>A critical guide for all AI practitioners. Buy it here</p>

                  <a href="#" class="btn btn-default btn-xl">Get the guide →</a>
                </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
