<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2a.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded"> 
                                The AI & Quantum Security Intelligence Brief 
                            </div>
                            <div class="project-name">
                            Published by Shoshana on substack at http://disesdi.substack.com.  Subscriptions are currently $7 per month, $77 per year. Pricing will rise on 6th September 2026.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/1a.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                The AI security field guide
                            </div>
                            <div class="project-name"> 
                                Shoshana’s work on threat modeling for AI practitioners, distilled. Buy →
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3a.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                CxO Circle Membership 
                            </div>
                            <div class="project-name">
                                Private analysis papers & a quarterly group call with Shoshana. $1,000 per year.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6a.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Private video meetings
                            </div>
                            <div class="project-name">
                                Shoshana is available for private video meetings for advisory and consultation insights. $1,000 per hour. 
Contact for availability →
                            </div>
                        </div>
                    </div>
                </a>
            </div>
          
        </div>
    </div>
</section>
