<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Training & Advisory</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bullseye wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Private video meetings</h3>
                    <p class="text-muted">Shoshana is available for private video meetings for advisory and consultation insights at $1,000 per hour.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-person-chalkboard wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Single company training</h3>
                    <p class="text-muted">Single company training is available for $7,950 per day (plus expenses). Inquire about availability at mailto:contact@bermudastrategies.io</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s" ></i>
                    <h3>Regional trainings</h3>
                    <p class="text-muted">Regional training: Shoshana also carries out regional training events, at $3,950 per seat. Inquire about the upcoming regional events calendar at mailto:contact@bermudastrategies.io</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-microchip wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>General consulting</h3>
                    <p class="text-muted">General consulting: To discuss consulting projects and other custom requirements, please contact us at mailto:contact@bermudastrategies.io or book a no-obligation exploratory call</p>
                </div>
            </div>
        </div>
    </div>
</section>
