<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                 <!--   <i class="fa fa-bullseye"></i> -->
                    <h3>AI & Quantum Security Intelligence Brief</h3>
                    <p class="text-muted">The AI & Quantum Security Intelligence Brief is published by Shoshana on substack at disesdi.substack.com.  Subscriptions are currently $7 per month, $77 per year. Pricing will rise on 6th September 2026.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <!--   <i class="fa fa-paper-plane"></i> -->
                    <h3>CxO Circle membership</h3>
                    <p class="text-muted">CxO Circle membership of the Security Intelligence Brief.
Includes<br>
- A subscription to Shoshana’s substack publication<br>
- Private no-holds-barred analysis papers (periodic)<br>
- A quarterly group call with Shoshana, covering the state of the sector, and a Q&A.<br>
Click here to join the CxO Circle.</p>
                </div>
            </div>
               <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                   <!--  <i class="fa fa-handshake-o"></i> -->
                    <h3>AI security field guide</h3>
                    <p class="text-muted">The AI security field guide distils much of Shoshana’s work on threat modelling for AI practitioners. Buy it here</p>
                </div>
            </div>    
             <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                   <!--  <i class="fa fa-handshake-o"></i> -->
                    <h3>AI security field guide & membership</h3>
                    <p class="text-muted">The AI security field guide plus the one year membership distils much of Shoshana’s work on threat modelling for AI practitioners, in addition to the yearly subscription to her newsletter. Buy it here</p>
                </div>
            </div>

            

          
            
        </div>
    </div>
</section>
