<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
               <h2 class="section-heading">Training</h2>
                <hr class="primary"> 
                AI threat modeling: Shoshana carries out threat modelling training for AI security professionals at single companies and at regional events in the United States. 
Why buy training from companies that copied Shoshana’s work when you can learn directly from the inventor!
            </div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                 <!--   <i class="fa fa-bullseye"></i> -->
                    <h3>- Single company</h3>
                    <p class="text-muted">Single company training is available on-site for up to 12 attendees from a single company. Enquire about availability at <a href="mailto:contact@bermudastrategies.io">contact@bermudastrategies.io</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                   <!--  <i class="fa fa-handshake-o"></i> -->
                    <h3>- Regional training</h3>
                    <p class="text-muted">Regional training: Shoshana also carries out regional training events for attendees from multiple organisations. Enquire about the upcoming regional events calendar at <a href="mailto:contact@bermudastrategies.io">contact@bermudastrategies.io</a></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <!--   <i class="fa fa-paper-plane"></i> -->
                    <h3>General consulting</h3>
                    <p class="text-muted">General consulting: To discuss consulting projects and other custom requirements, please contact us at <a href="mailto:contact@bermudastrategies.io">contact@bermudastrategies.io</a> or book a no-obligation exploratory call</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                  <!--   <i class="fa fa-paper-plane"></i> -->
                    <h3>Private video meetings</h3>
                    <p class="text-muted">Private video meetings: Shoshana is available for one-on-one confidential advisory video meetings. 
Contact us at <a href="mailto:contact@bermudastrategies.io">contact@bermudastrategies.io</a> to book some of her time.</p>
                </div>
            </div>
           

            

          
            
        </div>
    </div>
</section>
